body{
    padding:0;
    margin:0;
}
#navbar{
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    background-color: orangered
}

#navbar h1{
    font-size: 30px;
    font-weight: bold;
    color: yellow;
}
#navbar li{
    list-style: none;
    display: inline;
    padding: 10px;
    font-size: 18px;
    font-weight: 500;
    color: slateblue;
}

#meal-display {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 20px;
}
.food-item {
    border-radius: 5px;
    padding: 20px;
    text-align: center;

}

.select-food {
    width: 500px;
    padding: 30px;
    height: auto;
    margin: auto;
    background-color: gray;;
    color: white;
    border-radius: 25px;
}
.select-food img {
    width: 400px;
    background-color: wheat;
    border-radius: 10px;
}
.select-food li {
    list-style: none;
}


